@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ul>
    <li>
        <a href="dynamiccomponent-example-1">dynamiccomponent-example-1</a>
    </li>
    <li>
        <a href="dynamiccomponent-example-2">dynamiccomponent-example-2</a>
    </li>
    <li>
        <a href="dynamiccomponent-example-3">dynamiccomponent-example-3</a>
    </li>
    <li>
        <a href="culture-example-1">culture-example-1</a>
    </li>
    <li>
        <a href="culture-example-2">culture-example-2</a>
    </li>
    <li>
        <a href="call-js-example-10">call-js-example-10</a>
    </li>
    <li>
        <a href="generics-example">generics-example</a>
    </li>
    <li>
        <a href="fetch-data-via-factory">fetch-data-via-factory</a>
    </li>
    <li>
        <a href="fetch-data-via-typed-httpclient">fetch-data-via-typed-httpclient</a>
    </li>
    <li>
        <a href="call-web-api">call-web-api</a>
    </li>
    <li>
        <a href="fetch-data-returns-html-on-exception">fetch-data-returns-html-on-exception</a>
    </li>
</ul>