@inherits LayoutComponentBase
@using TodoListServer.UIThemeClasses

<PageTitle>TodoListServer</PageTitle>

<CascadingValue Value="@theme">
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>
        <main>            
            <button @onclick="ChangeToDarkTheme">Dark mode</button>
            <div class="top-row px-4">
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <article class="content px-4">
                @Body
            </article>
        </main>        
    </div>
</CascadingValue>


@code {
    private ThemeInfo theme = new() { ButtonClass = "btn-success" };

     private void ChangeToDarkTheme()
    {
        theme = new() { ButtonClass = "btn-darkmode-success" };
    }
}